@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.landing-page {
    display: flex;
    padding: 200px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tagline {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
}

.description {
    color: #fff;
    font-weight: normal;
    font-size: 20px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: 700; 
    color: #fff;
    text-decoration: none;
}

.navbar a {
    position: relative;
    color:#fff;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;    
}

.navbar a:hover::before{
    width: 100%;    
}

